<div class="wrapper-activity">
    <div class="wrapper-map" ng-controller="MapCtrl as mc">
        <ui-gmap-google-map center="mapActivity.center" zoom="mapActivity.zoom" control="mapActivity.control">
            <!--<ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>-->
            <ui-gmap-markers models="lastMarkers" ng-repeat="n in lastMarkers" coords="'self'" events="'self'" click="onClick()">
                <ui-gmap-windows  show="show">
                    <div ng-non-bindable>{{title}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
    <div class="wrapper-last">
        <div class="wrapper-topic">
            <span class="wrapper-topic__caption">Последние освобожденные книги</span>
        </div>

        <div class="container-released">
            <div class="wrapper-released" ng-repeat="b in bookInfo">
                <div class="img-container">
                    <img class="img-container__book" src="../newDesign/images/book_icon.png">
                </div>
                <div class="wrapper-info">
                    <span class="wrapper-released__title">Название: </span><span class="wrapper-released__item" ng-bind="b.name"></span><br>
                    <span class="wrapper-released__title">Автор: </span><span class="wrapper-released__item" ng-bind="b.writer"></span><br>
                    <span class="wrapper-released__title">Описание: </span><span class="wrapper-released__item" ng-bind="b.descript"></span>
                </div>
                <!--<div class="btn-container" >-->
                    <!--<button class="btn-container__take" ng-click="bc.take();">Взять книгу</button>-->
                <!--</div>-->
            </div>
        </div><!--.container-released-->
    </div>
    <div class="wrapper-alert" ng-show="sucTake">
        <span class="alert" ng-bind="sucTake"></span>
    </div>
</div>